.Header {
    background-color: #000080;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  